#hiddenFinderContainer
{
  all: unset !important;
  position: relative !important;
  top: 0 !important;
  right: 0 !important;
  position: fixed !important;
  z-index: 99999 !important;
  font-family: Arial, "Times New Roman" !important;
}

#hiddenFinderContainer span
{
  background-color: transparent !important;
  color: black !important;
}

#hiddenFinderDrawer {
  background-color: #EEE;
  box-shadow: 0px 2px 2px #ccc;
  width: 90%;
  float: right;
  padding: 5px 15px;
  border-bottom-left-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#hiddenFinderDrawer div {
  transition: 600ms;
}

#hiddenFinderDrawer.expanded #hiddenFinderHistoryExpanded {
  flex-shrink: 0;
  flex-grow: 1;
}
#hiddenFinderDrawer.expanded #hiddenFinderHistoryCollapsed {
  flex-shrink: 1;
  flex-grow: 0;
}
#hiddenFinderDrawer.collapsed #hiddenFinderHistoryExpanded {
  flex-basis: auto;
  overflow: hidden;
  flex-grow: 0;
}
#hiddenFinderDrawer.collapsed #hiddenFinderHistoryCollapsed {
  flex-basis: 100%;
  flex-shrink: 0;
}

/* #hiddenFinderDrawer.expanded #hiddenFinderHistoryCollapsed,
#hiddenFinderDrawer.collapsed #hiddenFinderHistoryExpanded {
  display: none;
  visibility: hidden;
} */

.hiddenFinderHistoryHeader:hover {
  cursor: pointer;
  filter: brightness(85%);
}

#hiddenFinderHistoryCollapsed span {

}
#hiddenFinderHistoryExpanded .pointerArrow {
  transform: rotate(180deg);
}
.pointerArrow {
  float: left;
}

#hiddenFinderWindow
{
  max-width: 250px !important;
  min-width: 250px !important;
  background-color: #888 !important;
  padding: 10px !important;
  font: 10px !important;
  border-bottom-left-radius: 15px !important;
}

#finderSearchButton
{
  background-color: #ccc !important;
  border-radius: 5px !important;
  font-style: bold !important;
  width: 75px !important;
  padding: 3px !important;
  margin: auto !important;
  margin-bottom: 3px !important;
}

.buttonText:hover {
  cursor: pointer;
  filter: brightness(85%);
}

#finderResetButton
{
  background-color: #ccc222 !important;
  border-radius: 5px !important;
  font-style: bold !important;
  width: 75px !important;
  padding: 3px !important;
  margin: auto !important;
}
